.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #fff;
  margin: 32px 0;
  list-style: none;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}

.pagination li {
  cursor: pointer;
  border-radius: 8px;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 35px;
  height: 35px;
  padding: 0;
}

.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
}

.prevItem,
.nextItem {
  font-size: 12px;
}

.active {
  background: #764191 !important;
  box-shadow: 0 0 10px rgba(118, 65, 145, 0.5);
}

@media only screen and (min-width: 768px) {
  .pagination {
    gap: 8px;
    margin: 48px 0;
  }

  .pagination li {
    min-width: 44px;
    height: 44px;
    border-radius: 12px;
  }

  .pagination a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .pagination {
    gap: 12px;
    margin: 64px 0;
  }

  .pagination li {
    padding: 0 10px;
    min-width: 48px;
  }
}
