@media only screen and (min-width: 320px) {
  .header-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }

  .header-links {
    color: #fff;
    transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  }

  .header-links:hover,
  .header-links:focus {
    color: #764191;
  }
}
