.actor {
  margin-bottom: 16px;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
}

.actor-name {
  font-weight: 700;
  margin-bottom: 16px;
  margin-bottom: 48px;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
}

.actor-img {
  border-radius: 16px;
  margin: 0 auto 32px;
  width: 100%;
  height: 402px;
  object-fit: cover;
  object-position: top;
}

.actor-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.actor-info-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.actor-info-thumb {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.actor-cards {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.ytb-icon {
  transition: color 200ms ease-in-out;
}

.ytb-icon:hover {
  color: #764191;
}

.gallery-genre {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.track {
  color: #fff;
  font-size: 18px;
}

.track a {
  display: flex;
  align-items: center;
}

.albums {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.albums h2 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.albums-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.albums-thumb {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.album-card {
  border-radius: 16px;
  padding: 14px 11px;
  min-width: 272px;
  background: #1e1c1f;
}

.album-card h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.table-header {
  border-radius: 8px;
  padding: 4px 0px 4px 12px;
  background: rgba(255, 255, 255, 0.05);
  display: grid;
  grid-template-columns: 1fr 50px 40px;

  font-weight: 600;
  font-size: 8px;
  line-height: 1.5;
}

.track-list {
  display: flex;
  flex-direction: column;
}

.track-item {
  border-radius: 8px;
  padding: 8px 0px 8px 12px;
  display: grid;
  grid-template-columns: 1fr 50px 40px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.track-list li:nth-child(2n) {
  background: rgba(255, 255, 255, 0.1);
}
