.about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 80px 20px 0 20px;
  color: #fff;
  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
  max-width: 640px;
  border-radius: 20px;
  object-fit: cover;
  margin: 0 auto;
}

.container-about-inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (min-width: 768px) {
  .about {
    padding: 100px 32px 0 32px;
    gap: 40px;
  }

  .title {
    font-size: 48px;
  }

  .text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 48px;
    padding: 112px 64px 0 64px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .container-about-inf {
    text-align: left;
    gap: 24px;
  }

  .title {
    font-size: 60px;
  }

  .text {
    font-size: 20px;
  }
}
