.container {
  padding: 80px 20px 0;
}

.span {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.main-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
  color: #fff;
  max-width: 100%;
}

.searchBox {
  margin-bottom: 32px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.gallery-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  border-radius: 16px;
  padding-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.03);
  color: #fff;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.gallery-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.gallery-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0 16px;
}

.gallery-genre {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 2px 8px;
  font-weight: 500;
  font-size: 12px;
}

.title {
  padding: 0 16px;
  font-size: 20px;
}

.text {
  padding: 0 16px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 100px 32px 0px;
  }

  .main-title {
    font-size: 48px;
    margin-bottom: 48px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .gallery-img {
    height: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 112px 64px 0 64px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .main-title {
    font-size: 60px;
    margin-bottom: 80px;
    max-width: 600px;
  }

  .searchBox {
    margin-bottom: 64px;
  }

  .gallery-img {
    height: 393px;
  }

  .gallery-genre {
    font-size: 16px;
    padding: 4px 10px;
  }

  .title {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }

  .gallery-item:hover {
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.15);
    transform: translateY(-4px);
  }
}
