.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #060307;
  z-index: 10000;
  padding: 0 20px;
  box-sizing: border-box;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  height: 40px;
  background: linear-gradient(180deg, #060307 0%, rgba(35, 19, 43, 0) 100%);
  pointer-events: none;
}

.header-logo-container {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}

.header-list {
  display: none;
}

.icon-container {
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.burger-icon {
  transition: color 200ms ease-in-out;
}

.header-links {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

.header-links:hover,
.burger-icon:hover {
  color: #764191;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0 32px;
  }

  .icon-container {
    display: none;
  }

  .header-list {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
  }

  .header-links::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #764191;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
  }

  .header-links:hover::after {
    transform: scaleX(1);
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 64px;
  }

  .header {
    justify-content: space-between;
  }

  .header-logo-container {
    font-size: 28px;
  }

  .header-list {
    gap: 48px;
  }
}
