.footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  padding: 60px 20px 40px;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nav-main-link {
  margin-bottom: 24px;
  font-size: 24px;
  color: #764191;
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.nav-links {
  transition: color 200ms ease-in-out;
}

.nav-links:hover {
  color: #764191;
}

.social-media {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 24px;
  padding-top: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  font-size: 24px;
  gap: 24px;
}

.social-icon {
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

.social-icon:hover {
  color: #764191;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 80px 32px 40px;
    font-size: 16px;
  }

  .nav-list {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 60px;
  }

  .social-media {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding: 100px 64px 40px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }

  .nav-list {
    margin-bottom: 80px;
  }

  .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 56px;
    margin-bottom: 40px;
  }

  .social-icons {
    justify-content: flex-end;
  }
}
