.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 0.5 !important;
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet-active {
  background-color: #764191 !important;
  opacity: 1 !important;
}
.swiper-pagination {
  bottom: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #060307;
  color: #fff;
  line-height: 1.5;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.modal-open {
  overflow: hidden !important;
  height: 100vh !important;
}
